[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
gunicorn = "*"
flask-restx = "*"
flask-login = "*"
flask-limiter = "*"
umongo = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
pyre-check = "*"

[requires]
python_version = "3.9"
